@using ViewPallets.Application.PalletDTOs;
@model PalletDto?
@{
    <div class="text-center mt-3">
        <h1 id="projectH">IDENTYFIKATOR PROJEKTU</h1>
        <h2>@Model.ProjectId</h2>
    </div>
    <div class="row mt-5">
        <div class="col-xxl-4">
            <h4 id="detailsH">SZCZEGÓŁY</h4>
            <table class="table table-bordered table-responsive-lg table-dark table-striped">
                <thead>
                    <tr>
                        <th id="A">DŁUGOŚĆ [mm]</th>
                        <th id="B">SZEROKOŚĆ [mm]</th>
                        <th id="H">WYSOKOŚĆ [mm]</th>
                        <th id="W">WAGA [kg]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text text-center">
                        <td>@Model.Length</td>
                        <td>@Model.Width</td>
                        <td>@Model.Height</td>
                        <td>@Model.Weight</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-xxl-8">
            <h4 id="contentsH">ZAWARTOŚĆ</h4>
            <table class="table table-bordered table-responsive-lg table-dark table-striped">
                <thead>
                    <tr>
                        <th id="nameTh">NAZWA ELEMENTU</th>
                        <th id="quantityTh">ILOŚĆ</th>
                    </tr>
                </thead>
                <tbody class="text text-center">
                    @foreach(var item in Model.Details!)
                    {
                        <tr>
                            <td>@item.ItemName</td>
                            <td>@item.Quantity</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
